* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgba(44, 43, 0, 0.7), rgba(1, 0, 17, 0.9)), url("../img/prefeitura.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.flex-container {
    display: flex;
    justify-content: center;  
    align-items: center;   
    flex-direction: column;
    height: 100vh;            
}

.flex-login{
    background-color: white;
    padding: 20px 20px;
    border-radius: 5%;
}

#flex-form{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  row-gap: 12px;
}


input {
  padding: 12px;
  width: 350px;
}

#logo-cearabus,
#logo-prefeitura 
{
  width: 250px;
  height: auto;
}

#btn-entrar{
  width: 350px;
  padding: 10px;
  background-color: #005bbb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

#btn-entrar:hover{
  background-color: #00448d;
}

