<link rel="stylesheet" href="/css/navbar.css">
<nav class="navbar">
    <ul>
        <li> <a href="/rotas/">Visualizar Rotas</a> </li>
        <li> <a href="/aprovar_carteira/">Aprovar carteirinhas</a> </li>
        <li> <a href="/deslogar/">Voltar para Login</a> </li>
    </ul>
</nav>