<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CearaBus: Acesso ao</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    
    <main class="flex-container">
        <img id="logo-cearabus" src="img/cb_novo.png" alt="Logo da cearabus">
        <section class="flex-login">
            <form action="" id="flex-form">
                <label for="cpf">CPF</label>
                <input type="text" name="cpf" id="cpf" required placeholder="Digite seu CPF">

                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" required placeholder="Digite sua senha">

                <button id="btn-entrar" type="submit">Entrar</button>
            </form>
    
            <div class="links">
                <a href="../recuperarsenha/senha.html">Esqueci minha senha</a>

                <a href="../cadastro/cadastro.html">Cadastre-se</a>
            </div>
            
        </section>
        <img src="/img/logo_1.png" alt="">
    </main >

    
</body>
</html>